<div class="row">
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Gender</h5>
      </div>
      <div class="card-body ">
        <canvas id=genderChart width="200" height="150"></canvas>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card ">
      <div class="card-header ">
        <h5 class="card-title">Age</h5>
      </div>
      <div class="card-body ">
        <canvas id=ageChart width="200" height="150"></canvas>
      </div>
    </div>
  </div>
</div>