<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header">
        <h5 class="title">About This Website</h5>
      </div>


      <div class="card-body">
        <div class="typography-line">
  
            <img src="assets/img/logo_150x29.jpg"/>    <br>    
            <p>This website was created as a community service to Hong Kong by Cloudaxis Limited. </p>
        </div>
  
        <div class="typography-line">
          <h6> Origins </h6>
          <p>
            When searching for data across the suite of government websites, we noticed that there were no graphs provided that showed the weekly progress of the 
            vaccination programme, nor any indication of when Hong Kong might reach herd immunity. We decided to take it on as a quick excercise in data scraping 
            and a bit of mathematical calculation. 
          </p>
        </div>
        <div class="typography-line">
          <h6> Sources </h6>
          <p>
            Data for the daily doses administered was scraped from the <a href="https://www.news.gov.hk/eng/categories/covid19/index.html"> News.gov.hk website in the Covid-19 section. </a>
          </p>
          <p>
            Other data such as the gender breakdown comees from another <a href="https://www.covidvaccine.gov.hk/en/dashboard"> Covid-19 website</a> created by the HK government. 
          </p>
          <p>
            We have found that there are discrepancies in the numbers of the two websites, mostly concerning the percentage of the population that has received first and second shots. Those 
            percentages are of course based on the number of inhabitants in Hong Kong, which we counted as 7,496,988. Their estimations of the total doses administered is generally
            about 2.5% above our estimations. 
          </p>
        </div>
        <div class="typography-line">
          <h6> Tech Stack </h6>
          <p>
            For those that care, the frontend of this site was built with Angular 10, the backend with Python 3.8, and it is all running on Google Cloud using the Cloud
            Run service, which is a brilliant way to quickly run services such as these. 
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
